body {
    background-color: #e2e8f0;
    font-family: sans-serif;
    color: #333333;

}

h1 {
    color: white;
    background-color: blue;
    text-align: center;
}

p {
    color : #475569;
    padding: 20px;
}

ul {
    background-color: #ffff;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    
}