body {
    background-color: #e2e8f0;
    font-family: sans-serif;
    color: #333333;
}

h1 {
    background-color: blue;
    color: white;
    text-align: center;
}

p {
    color : #475569;
    padding: 20px;
}

ul {
    background-color: #ffff;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    
}

img-banner {
     width: 500%;            
    height: 180px;           
    object-fit: cover;       
    border-radius: 8px 8px 0 0; 
}


perfil-container {
    text-align: center;
    padding: 0 20px 20px 20px;
}
