body {
    background-color: #e2e8f0;
    font-family: sans-serif;
    color: #333333;

}

head {
    background-color: blue;
}

h1 {
    color: white;
    text-align: center;
}

p {
    color : #475569;
    text-align: justify;
    padding: 20px;
}

ul {
    background-color: #ffff;
    padding: 20px;
    width: 300px;
    margin: 0 auto;
    
}